@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}
a {
  display: block;
}

@layer components {
  .social-links {
    @apply w-[315px] py-[10px] bg-grey rounded-lg font-bold hover:bg-green hover:text-off-black;
  }
}
